openapi: 3.0.3
info:
  title: NewsAPI
  description: NewsAPI.org
  version: 1.0.0
servers:
- url: https://newsapi.org/v2
tags:
  - name: articles
    description: News articles
paths:
  /everything/:
    get:
      tags: 
        - articles
      summary: News List
      operationId: everythingGet
      parameters:
      - name: q
        in: query
        description: Theme of news
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: date
        required: true
        schema:
          type: string
      - name: sortBy
        in: query
        description: Sort
        required: true
        schema:
          type: string
      - name: language
        in: query
        description: Language in two letters
        required: true
        schema:
          type: string
      - name: apiKey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: use this to page through the results.
        schema:
          type: integer
      - name: pageSize
        in: query
        description: the number of results to return per page.
        schema:
          type: integer
      responses:
        200:
          description: success
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ArticleList'
        default:
          description: enexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
components:
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: header       # can be "header", "query" or "cookie"
      name: X-API-KEY  # name of the header, query parameter or cookie
  schemas:
    ErrorModel:
      type: object
      required:
      - message
      - code
      properties:
        message:
          type: string
        code:
          type: integer
          minimum: 100
          maximum: 600
    ArticleList:
      type: object
      properties:
        status:
          type: string
        totalResults:
          type: integer
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
    Article:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/Source'
        author:
          type: string
        title: 
          type: string
        description: 
          type: string
        url: 
          type: string
        urlToImage: 
          type: string
        publishedAt: 
          type: string
        content: 
          type: string
      required:
      - title
    Source:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
security:
 - ApiKeyAuth: []     # use the same name as under securitySchemes
